<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fiek.temadiplomes">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Notifications.App"
        android:allowBackup="true"
        android:icon="@mipmap/origami"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/origami"
        android:supportsRtl="true"
        android:theme="@style/Theme.TemaDiplomes.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".EditProfileActivity" />
        <activity
            android:name=".VoiceCallActivity"
            android:noHistory="true" />
        <activity
            android:name=".AddContactActivity" />
        <activity
            android:name=".VideoCallActivity"
            android:noHistory="true" />
        <activity
            android:name=".ContactsActivity"
            android:noHistory="true" />
        <activity
            android:name=".SignUpActivity" />
        <activity
            android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>